input[type=text]:invalid, input[type="password"]:invalid {
    /* Bruker !imporant, da "back" knapp til siden tømmer passordfelt uten at det skjer en hendelse på feltet.
     * Hvis "mediumPassword" før submit vil da feltet bli "mediumPassword" ved "back" på tomt passord til første input.
     */
    /* border-color: red !important; */
    border-color: red;
}

input[type="text"], input[type="password"] {
    border-color: green;
}

input[type="password"].mediumPassword {
     border-color: #e8e80c;
}
